@use "general";

.red {
  color: red;
}

.cloud {
  width: min(90vh, 90vw);
  height: auto;
  aspect-ratio: 1;
  margin: min(5vh, 5vw) auto;
  container-type: size;
  perspective: min(180vh, 180vw);
  user-select: none;
  overscroll-behavior: none;

  &--1 {
    perspective: 10000vw;
  }

  &.is-moving {
    a {
      pointer-events: none;
    }
  }

  &__words {
    will-change: transform;
    transform-style: preserve-3d;
    border-radius: 50%;
    border: 0.4vw dashed #00f6;
    width: 100%;
    height: 100%;
    position: relative;
    translate: 0 0 calc(var(--z) * 1px);
    transform: rotateX(var(--rx)) rotateY(var(--ry));
    background: radial-gradient(circle, #00f6 0%, #00f6 5%, rgba(0, 0, 0, 0) 5%);
    pointer-events: none;

    &::before {
      content: "";
      inset: -0.4vw;
      position: absolute;
      border-radius: 50%;
      border: 0.4vw dashed #0f06;
      transform: rotateY(90deg);
      background: radial-gradient(circle, #0f06 0%, #0f06 5%, rgba(0, 0, 0, 0) 5%);
    }

    &::after {
      content: "";
      inset: -0.4vw;
      position: absolute;
      border-radius: 50%;
      border: 0.4vw dashed #f006;
      transform: rotateX(90deg);
      background: radial-gradient(circle, #f006 0%, #f006 5%, rgba(0, 0, 0, 0) 5%);
    }

    a {
      position: absolute;
      top: var(--cy);
      left: var(--cx);
      translate: -50% -50% var(--cz);
      transform: rotateY(calc(var(--ry) * -1)) rotateX(calc(var(--rx) * -1)) scale(max(1 - var(--z) / var(--cloud-size) / 2.25, 0.2));
      background-color: #fff;
      box-shadow: .2cqw .2cqw .5cqw 0 rgba(0, 0, 0, 0.2);
      font-size: 1.5cqw;
      padding: 0 .5cqw;
      border-radius: .2cqw;
      color: #000;
      pointer-events: all;
      transition: opacity ease .3s;

      &:hover {
        box-shadow: .2cqw .2cqw 1cqw 0 rgba(0, 0, 0, 0.2);
        padding: .5cqw 1cqw;
        font-size: 2cqw;
      }
    }

    &:has(a:hover) {
      a:not(:hover) {
        pointer-events: none;
      }
    }
  }

  &:not(&--1, &--2):has(a:hover) &__words a:not(:hover) {
    opacity: .2;
    background-color: #0000;
  }

  &--1 a:hover {
    transform: rotateY(calc(var(--ry, 0) * -180deg)) rotateX(calc(var(--rx, 0) * -180deg)) scale(max(var(--word-scale, 1), 0.2)) translateZ(91cqw);
  }
}