@use "breakpoint";
@use "container";
@use "color";
@use "font";
@use "mixins";
@use "general";

.cloud {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  margin: 20px auto 0;
  border: grey dashed 3px;
  font-family: sans-serif;
  border-radius: 5%;
  overflow: hidden;
  container-type: size;

  a {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(calc((var(--cx, 0) * 1px + var(--container-half-width, 0) - 50%)), calc(var(--cy, 0) * 1px + var(--container-half-height, 0) - 50%)) scale(calc(var(--opacity, 1)));
    opacity: var(--opacity, 1);
    color: #000;
    padding: 0 .5cqw;
    z-index: var(--z-index);
    border-radius: 3px;
    transition-property: transform, backdrop-filter, background-color, opacity, padding, font-weight;
    transition-duration: .2s;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: .15cqw .15cqw .3cqw 0 rgba(34, 60, 80, 0.2);
    font-size: 1.5cqw;

    &:hover {
      z-index: 9999;
      color: #000;
      padding: .25cqw .75cqw;
      font-weight: 700;
      --opacity: 1.1 !important;
    }
  }
}